<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

   <h1>Input Number : </h1>
   <input type='text' [(ngModel)]="num"/>

    <div [ngSwitch]="num">
        <div *ngSwitchCase="'0'">Zero</div>
        <div *ngSwitchCase="'1'">One</div>
        <div *ngSwitchCase="'2'">Two</div>
        <div *ngSwitchCase="'3'">Three</div>
        <div *ngSwitchCase="'4'">Four</div>
        <div *ngSwitchCase="'5'">Five</div>
        <div *ngSwitchCase="'6'">Six</div>
        <div *ngSwitchCase="'7'">Seven</div>
        <div *ngSwitchDefault>This is Default</div>
    </div><br><br>

<div>
  <select [(ngModel)]="selectedValue">
      <option *ngFor = 'let item of items' [value]="item.name">{{item.name}}</option>
  </select>

  <div class='row' [ngSwitch]="selectedValue">
    <div *ngSwitchCase="'One'">One is Pressed</div>
    <div *ngSwitchCase="'Two'">Two is Selected</div>
    <div *ngSwitchCase="'Three'">Three is Selected</div>
    <div *ngSwitchCase="'Four'">Four is Selected</div>
    <div *ngSwitchDefault>Default Option</div>
</div>
</div><hr/>

<h1>NgIf Directive</h1>

<div>
    Show Me : <input type="checkbox" [(ngModel)]="showMe"/>
</div>
<div>

  <h2 *ngIf='showMe'>
      showMe is checked
  </h2>
  <h2 *ngIf='!showMe'>
      showMe is Unchecked
  </h2>

</div>
